/* CONFIG */

:root {

	--body-min-width: 320;
	--body-max-width: 1600;
	--body-min-font: 16;
	--body-max-font: 20;

	--body-color: #3c434a;
	--body-background: #fff;
	--body-line-height: 1.3;
	--body-letter-spacing: -0.015em;

	--link-color: #0064bd;
	--link-hover-color: #0095ff;
	--link-alt-color: #777;

	--input-height: 42px;
	--input-font-size: 18px;
	--input-button-color: #fff;
	--input-button-background: #aaa;
	--input-active-color: #0288d1;
	--input-error-color: #d32f2f;

	--nav-height: 50px;
	--nav-color: #141412;
	--nav-background: #efefef;
	--nav-hover-color: #141412;
	--nav-hover-background: #e2e2e2;
	--nav-active-color: #fff;
	--nav-active-background: #aaa;

	--footer-height: 4em;
	--footer-font-size: 14px;

	--body-font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--body-font-size: calc((var(--body-min-font) * 1px) + ((var(--body-max-font) - var(--body-min-font)) * ((100vw - (var(--body-min-width) * 1px)) / (var(--body-max-width) - var(--body-min-width)))));

}


/* BODY */

* {
	box-sizing: border-box;
	user-select: text;
	-webkit-user-select: text;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	font-family: var(--body-font-family);
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
	letter-spacing: var(--body-letter-spacing);
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
}

body {
	position: relative;
	width: 100%;
	min-width: calc(var(--body-min-width) * 1px);
	min-height: 100vh;
	background: var(--body-background);
	color: var(--body-color);
}


/* MAIN */

main {
	display: block;
	padding-bottom: var(--footer-height);
}

h1, h2, h3, h4, h5 {
	margin: 0 0 0.5em 0;
}

p {
	margin: 0 0 0.9em 0;
}


/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
	width: 100%;
	text-align: center;
	min-height: var(--footer-height);
	font-size: var(--footer-font-size);
}

footer p {
	margin: 0;
}

main + footer {
	position: absolute;
	bottom: 0;
}


/* LINKS */

a {
	color: var(--link-color);
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

a:hover, a:active {
	color: var(--link-hover-color);
}

a.alt {
	color: var(--link-alt-color);
}

a.alt:hover {
	text-decoration: underline;
}


/* FORMS */

input, textarea, select, button {
	display: inline-block;
	width: 100%;
	height: var(--input-height);
	margin: 0;
	padding: 10px 12px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	font-family: inherit;
	font-size: var(--input-font-size);
	border-radius: 3px;
	overflow: visible;
	outline: none;
	appearance: none;
	vertical-align: middle;
	text-transform: none;
}

textarea {
	height: 6em;
	overflow: auto;
}

label {
	display: block;
	margin-bottom: 4px;
	font-size: var(--footer-font-size);
}

form .field {
	position: relative;
	padding: 8px 0;
}

form .field:last-of-type {
	margin-bottom: 0;
}

form .show-password::before {
	position: absolute;
	top: 32px;
	right: 5px;
	content: '\1F441';
	font-size: 32px;
	z-index: 2;
	cursor: pointer;
}

form .error {
	color: var(--input-error-color);
	margin-top: 5px;
}

form .field .error {
	font-size: var(--footer-font-size);
}

.has-error input, .has-error textarea, .has-error select {
	border-width: 1px;
	border-color: var(--input-error-color);
}

input:hover, textarea:hover, select:hover {
	border-width: 0.5px;
	border-color: var(--input-active-color);
}

input:focus, textarea:focus, select:focus {
	border-width: 1px;
	border-color: var(--input-active-color);
}

button, [type="button"], [type="submit"], [type="reset"] {
	background: var(--input-button-background);
	border-width: 1px !important;
	border-color: rgba(0, 0, 0, .2) !important;
	color: var(--input-button-color);
	text-align: center;
	cursor: pointer;
}

@media screen and (min-width: 40em) {

	button, [type="button"], [type="submit"], [type="reset"] {
		width: auto;
	}

}

[type="radio"], [type="checkbox"] {
	width: 24px;
	height: 24px;
	border: none;
	cursor: pointer;
}

[readonly] {
	background: #f0f0f0
}

[disabled] {
	opacity: 0.75;
	background: #f8f8f8;
	cursor: not-allowed;
}

[hidden], .hidden, template {
	display: none;
}


/* NAV */

nav, nav .toggle {
	position: relative;
	width: 100%;
	height: 50px;
	background: transparent;
}

nav .menu {
	position: absolute;
	top: 40px; right: 24px;
	display: inline-block;
	width: auto;
	background: var(--nav-background);
	transition: transform 0.5s;
	transform: scale(0,0);
	transform-origin: top right;
	z-index: 10;
}

nav.open .menu {
	min-width: 150px;
	transform: scale(1,1);
}

nav a {
	display: block;
	text-align: left;
	width: 100%;
	height: var(--nav-height);
	line-height: calc(var(--nav-height) - (10px * 2));
	padding: 10px 20px;
	color: var(--nav-color);
	text-decoration: none;
}

nav a:hover {
	color: var(--nav-hover-color);
	background: var(--nav-hover-background);
}

nav a.active {
	font-weight: bold;
}

nav i {
	display: block;
	font-style: normal;
	font-size: 32px;
	position: absolute;
	top: 6px;
	right: 10px;
	cursor: pointer;
}

nav i:after {
	content: '\2807';
}

@media screen and (min-width: 40em) {

	/* Nav */

	nav .toggle {
		display: none;
	}

	nav .menu {
		display: flex;
		position: static;
		transform: none;
		transition: none;
	}

	nav a {
		display: block;
		flex-grow: 1;
		text-align: center;
	}

	nav a.active {
		color: var(--nav-active-color);
		background: var(--nav-active-background);
		font-weight: normal;
	}

}


/* GRID */

.grid {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.grid .item {
	flex-basis: 100%;
}

@media(min-width: 40em) {

	.grid .item {
		flex-basis: 50%;
	}

}

@media(min-width: 60em) {

	.grid .item {
		flex-basis: calc(100% / 3);
	}

}


/* PAGINATION */

.pagination {
	display: flex;
	justify-content: flex-end;
}

.pagination * {
	display: inline-block;
	padding: 4px 8px;
	margin: 0 -1px;
}

.pagination a {
	border: 1px solid #ddd;
	padding: 8px 16px;
}

.pagination .active {
	background: #f1f1f1;
}

.pagination .disabled, .pagination .disabled:hover {
	cursor: default;
	color: #bbb;
}